/* COIT20269 Assessment 3 - BNE Little Libraries App
PAGE DESIGN: Search for book 
Created By: Briana Loughlin 
Student # 12176923
Date: 6 june 2023
Last update: 

Theme colour pallette: 
Main: DarkTeal #307D95, Charcoal #2E302D
Highlight: Tangerine orange #EDB153
Grey background: #eef4f1
*/



.body {
  font-family: system-ui,'Segoe UI', 'Roboto', sans-serif;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
}

.ui-page-theme-a .ui-bar-inherit{
background-color: #307D95;
text-shadow: none;
color: white;
}

.ui-mobile, .ui-page{
background-color: white;
}

.ui-btn.ui-corner-all{
border-style: none;
background-color: #307D95;
color: white;
text-shadow: none;
}

/*fonts */
.h1, .h2, .h3, .p {
color: #2E302D;

}

.library-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* This will make the image round */
  object-fit: cover; /* This will make sure the image covers the whole area of the div */
  display: inline-block; /* This will allow the image to sit next to text or other elements */
  vertical-align: middle; /* This will vertically align the image with the text */
  margin-right: 10px; /* This adds some space to the right of the image */
}
.library-address{
  font-weight: 100;
  color:gray;
}
#map{
  height: 400px;
  width: 100%;
}
.dropDownMenu {
  display: none;
  position: absolute;
  left: 10px;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #ccc;
}

#library-list {
  max-height: 50vh;
  overflow: auto;
}

#library-details-popup {
  position: fixed;
  width: 80vw;
  max-width: 300px;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1000;
}

#library-details-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#library-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#close-popup {
  position: absolute;
  right: 10px;
  top: 10px;
}

.footer a {
  background-color: #edb153;
}
